html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

#CoverArt {
  border-radius: 15px;
}
#Trailer {
  border-radius: 15px;
}

#Actors {
    list-style: none;
}

body {
    background-image: linear-gradient(#d1a199, #a9abb4);
    margin-bottom: 60px;
    text-align: center;
}
